doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Table Template
        style=usrvars
        style=defstyle
    body
        main
            img(src="./logo.png")
            for t in tdata
                table
                    thead 
                        tr
                            for hf in theader
                                td=hf
                    tbody 
                        for tr in t 
                            tr
                                for td in tr 
                                    td=td